<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.lsinf1225.minipoll">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".MiniPoll"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.ConnexionActivity"
            android:label="MiniPoll"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MenuPrincipalActivity"
            android:label="@string/menu_principal" />
        <activity
            android:name=".activity.NouveauActivity"
            android:label="Nouveau" />
        <activity android:name=".activity.NewSondageActivity" />
        <activity android:name=".activity.Profil" />
        <activity android:name=".activity.GestionAmis" />
        <activity android:name=".activity.MySondagesActivity" />
        <activity android:name=".activity.ChercherAmisActivity" />
        <activity android:name=".activity.DemandesAmisActivity" />
        <activity android:name=".activity.ListeAmisActivity" />

        <activity
            android:name=".activity.MyQuestnrActivity"
            android:label="@string/myquestnr" />
        <activity android:name=".activity.SondageActivity" />
        <activity android:name=".activity.Inscription" />
        <activity android:name=".activity.NewDilemmeActivity" />
        <activity android:name=".activity.CreationProfil" />
        <activity android:name=".activity.MyQstActivity"
            android:label="@string/title_qst"/>
        <activity android:name=".activity.MyReponseActivity"
            android:label="@string/title_reponse"/>
        <activity android:name=".activity.ReponseOverActivity"
            android:label=" "/>
        <activity android:name=".activity.SondagePannelActivity" />
    </application>

</manifest>